.root {
  display: flex;
  flex-direction: column;
  height: calc(100% - 48px);
  overflow: auto;
}

.wrapper {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

.header {
  position: sticky;
  color: #fff;
  z-index: 1;
  top: 0;
  border-bottom: 1px solid #004649;
  padding: 14px;
  background: linear-gradient(to right, rgba(0,150,136,0.302) 0%, #097b1d 100%);
}

.title {
  font-size: 24px;
  font-weight: normal;
}

.fields {
  flex: 1 0 auto;
  position: relative;
  padding: 14px;
  background: #0e0e1d;
}

.submitButtonWrapper {
  position: sticky;
  z-index: 1;
  bottom: 0;
  padding: 14px;
  background: #0e0e1e;
  color: #fff;
}
