.moreActions {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  height: 64px;
  padding: 0 8px;
  margin-right: -14px;
  gap: 4px;
  border-radius: 4px;
}

.expanded {
  box-shadow: 0 0 5px 5px rgba(18, 111, 107, 0.27);
}

.moreBtn {
  background: none;
  cursor: pointer;
}

.moreIcon {
  height: 28px;
  vertical-align: middle;
  fill: var(--color-basic200);
}
