.swapDirectionBtnWrapper {
  position: relative;
  z-index: 1;
  margin: -11px 14px;
}

.swapDirectionBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #fff;
  color: #004649;
  vertical-align: middle;
  cursor: pointer;
}

.swapDirectionBtn:not(:disabled):hover {
  background: #004649;
}

.swapDirectionBtn:disabled {
  background: #0e0e1d;
  cursor: not-allowed;
}

.swapDirectionBtnIcon {
  color: #fff;
}

.toAmountInput {
  position: relative;
}

.toAmountInputGainBadge {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1px 8px;
  border-radius: 4px 0;
  background: #0155ff;
  color: var(--color-white);
  font-weight: 600;
  font-size: 11px;
}

.priceRow {
  margin: 1em 0;
  display: flex;
  gap: 1em;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
}

.priceRowLabel {
  color: #fff;
}

.priceRowValue {
  flex: 1 1 auto;
  text-align: right;
}

.swapPriceDirectionBtn {
  margin-right: 8px;
  background: none;
  color: var(--color-basic500);
  cursor: pointer;
}

.swapPriceDirectionBtn:hover {
  color: #000;
}

.swapPriceDirectionBtnIcon {
  vertical-align: middle;
}

.error {
  margin-top: 8px;
  overflow: auto;
  color: #e5494d;
  font-size: 12px;
}

.summary {
  font-size: 12px;
}

.summary:not(:first-child) {
  margin-top: 1em;
}

.summary:not(:last-child) {
  margin-bottom: 1em;
}

.summaryRow {
  display: flex;
  gap: 1em;
  white-space: nowrap;
}

.summaryRow + .summaryRow {
  margin-top: 1em;
}

.summaryRow_center {
  align-items: center;
}

.summaryTable th {
  color: #fff;
  font-weight: 300;
}

.summaryValue {
  flex: 1 1 0;
  min-width: 0;
  text-align: right;
}

.summaryValueText {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.summaryLabelTooltip {
  display: inline-block;
  border-bottom: 1px dotted;
}

.tooltipContent {
  max-width: calc(100vw - 14px * 2);
}

.slippageToleranceInput {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.slippageToleranceLabel {
  padding: 4px 6px;
  margin: -4px 0;
  color: var(--color-basic500);
  cursor: pointer;
}

.slippageToleranceInput:hover + .slippageToleranceLabel {
  color: #596573;
}

.slippageToleranceInput:checked + .slippageToleranceLabel {
  color: #000;
}

.slippageToleranceInput:checked
  + .slippageToleranceLabel
  > .slippageToleranceLabelInner {
  border-bottom: 1px solid;
}

.route {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: center;
  justify-content: flex-end;
}

.routeItemArrow,
.routeItemName {
  flex: 0 0 auto;
}

.routeItemArrow {
  width: 7px;
  height: 12px;
  fill: currentColor;
}
