.root {
  display: flex;
    align-items: center;
    gap: 8px;
    border: solid 1px #009280;
    padding: 14px;
    border-radius: 4px;
    background: #061e29;
}

.logo {
  width: 24px;
  height: 24px;
}

.logoImg {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.logoPlaceholder {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}

.left {
  flex: 0 0 30%;
  overflow: hidden;
}

.label {
  color: #fff;
  font-size: 11px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.assetName {
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
}

.right {
  flex: 1 1 0;
  overflow: hidden;
  text-align: right;
}

.balance {
  font-size: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}

.input {
  display: block;
  width: 100%;
  background: none;
  font-size: 14px;
  text-align: inherit;
  color: #fff;
}

.input:focus {
  outline: 0;
}

.result {
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
}
